spring:
  datasource:
    url: jdbc:h2:mem:file/data.sql
    username: root
    password: ola24oluwa
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
#      spring.jpa.defer-datasource-initialization = true